# auto-created
web3==1.1.5
eth-abi==0.8.8
requests==0.1.1
aiohttp==1.0.2
web3==2.2.2
aiohttp==1.0.6
aiohttp==1.9.9
eth-abi==0.7.0
web3==1.1.6
aiohttp==1.2.1
eth-abi==2.6.0
web3==0.1.5
aiohttp==1.4.7
pydantic==1.6.7
pydantic==1.0.7
